/* variables */

$ancho: 85vw;
$color-gris: #130616ab;
$color-gris-fade: #42424259;
$color-light-fade: #f8eded98;
$base-font-size: 18px;

/* Tipografía de Google */


/*
Source Sans Pro

    Light 300 
    Regular 400
    Semi-bold 600
    Bold 700
    Black 900

*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');